{% load static %}
<!DOCTYPE html>z
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="x-pjax-version" content="7f135f03db3fe28dce4f01d630affe2d6731134e9354a58f2a937a5fe5f41fc2" data-turbo-track="reload">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'geral/css/base.css' %}">
    <title>Study Async</title>
    {% block 'cabecalho' %} {% endblock %}
  </head>
  <body>
    {% block 'conteudo'%} {% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
